/* Define fonts */
@font-face {
    font-family: Noto;
    src: url('/fonts/Noto_Sans/NotoSans-Regular.ttf') format('truetype');
}

@font-face {
    font-family: Noto-Bold;
    src: url('/fonts/Noto_Sans/NotoSans-Bold.ttf') format('truetype');
}

@font-face {
    font-family: Noto-Italic;
    src: url('/fonts/Noto_Sans/NotoSans-Italic.ttf') format('truetype');
}

/* Reset styles */
* {
    margin: 0;
    border: 0;
    padding: 0;
}

/* Base styles */
body {
    font-family: Noto;
}

html {
    font-size: 10px;
}

li,
a {
    list-style: none;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

main {
    margin-top: 0;
}

label {
    margin: 0;
    border: 0;
    padding: 0;
}

/* Brand Colors */
:root {
    --prime-color: #1450A3;
    --accent-dark: #191D88;
    --accent-light: #337CCF;
    --text-on-white: #333;
}

/* Styles for the hamburger menu */
.hamburger {
    display: none;
    /* Hide the hamburger menu on desktop */
}

/* Styles for the announcement banner */
.announcement {
    background-color: var(--prime-color);
    /* Set the background color and height for the announcement banner */
    height: 4rem;
    width: 100vw;
    display: flex;
    /* Center the content of the announcement banner */
    justify-content: center;
}

.announcement-item {
    color: white;
    font-size: 1.5rem;
    margin: 1rem 0;
}

/* Styles for the short bio text */
.short-bio {
    display: flex;
    justify-content: center;
    align-items: center;
    /* Center the short bio text horizontally and vertically */
    width: 100vw;
}

/* Container for short bio text */
.short-bio-container {
    text-align: center;
    padding: 4rem;
    /* Center the text within the container and add padding for spacing */
}

/* Individual bio item styles */
.bio-item {
    font: 2rem/1.5 Noto;
    color: var(--text-on-white);
    /* Set the font size, line height, and text color for bio items */
}

.new-arrivals,
.advertisement-main {
    width: 100vw;
    padding: 2rem 0;
}



.new-arrivals-header,
.brands,
.newsletter {
    display: flex;
    flex-direction: column;
    padding: 0 0 2rem 0;
    text-align: center;
}

.new-arrivals-header h2,
.brands h2 {
    font: bold 2.5rem/1.5 Noto;
    color: var(--text-on-white);
}

.new-arrivals-btn-1 {
    width: 30vw;
    color: white;
    font: bold 1rem/3 Noto;
    text-align: center;
    background-color: var(--prime-color);
    border: 2px solid var(--prime-color);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    border-radius: 0 0 3% 3%;
    align-self: center;
    margin: 2rem;
}

.new-arrivals-container {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    gap: 2.5rem 0;
    padding: 0 2.5rem;
}

.card {
    width: 35vw;
    border: none;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

.new-arrivals-card-body {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    border: 2px solid var(--prime-color);
    border-top: none;
    border-radius: 0 0 3% 3%;
}

.card-body-text {
    margin: auto;
    text-align: center;
}


.new-arrivals-card-body h4 {
    color: var(--prime-color);
    font: bold 1.5rem Noto;
}

.new-arrivals-card-body h5,
h6 {
    color: var(--accent-light);
    font: bold 1rem Noto;
}

.new-arrivals-btn-2 {
    width: 100%;
    color: white;
    font: bold 1rem/3 Noto;
    text-align: center;
    background-color: var(--prime-color);
    border-radius: 0 0 3% 3% margin-top: auto;
    /* This will push the button to the bottom */
}

.advertisement-main {
    padding: 2.5rem 0;
}

.main-ad-container-1,
.main-ad-container-4 {
    width: 100%;
    padding: 1rem 2.5rem;
}

.main-ad-img-1,
.main-ad-img-4 {
    width: 100%;
}

.main-ad-container-4 {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
}

.brands h2 {
    padding: 2.5rem;
}

.brand-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 2.5rem 0;
    padding: 0 2.5rem;
}

.brand-list-logo {
    width: 100PX;
}

.newsletter {
    width: 100vw;
    height: 240px;
    background-color: var(--accent-light);
    color: white;
}

.newsletter-container {
    display: flex;
    flex-direction: column;
    width: 80vw;
    margin: auto;
    font: 1.5rem/1.5 Noto;
    text-align: center;
}

.newsletter-container h2 {
    font: bold 2.5rem/1.5 Noto;
    padding: 1rem 0;
}

.newsletter-text {
    font: bold 1.5rem/1.5 Noto;
    padding: 1rem 0;
}

.newsletter-form {
    display: flex;
    align-content: center;
    padding: 1rem 0;
}

.newsletter-input {
    width: 70%;
    font: bold 1.5rem/1.5 Noto;
    border: 2px solid var(--prime-color);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    padding: 0.5rem;

    /* Remove the border when input is focused */
    &:focus {
        outline: none;
        /* Remove the default focus outline */
        border: 2px solid white;
        /* Set border color */
    }


}

.newsletter-input::placeholder {
    color: white;
    /* Change the placeholder text color */
}

.newsletter-btn {
    width: 30%;
    color: white;
    font: bold 1.5rem/1.5 Noto;
    text-align: center;
    background-color: var(--prime-color);
    border: 2px solid var(--prime-color);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    border-radius: 0 0 3% 3%;
}

.reviews {
    width: 100vw;
    padding: 2.5rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.review-overview {
    align-self: center;
    padding: 2.5rem 0;
}

.reviews-image {
    width: 200px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

.reviews-carousel {
    width: 200px;
    align-self: center;
    border: 2px solid var(--accent-dark);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

/* Media query for mobile view */
@media (max-width: 768px) {

    /* Styles for the mobile header */
    header {
        height: 90px;
        /* Define a fixed height for the header */
    }

    /* Styles for the mobile header logo */
    .nav-logo img {
        width: 90px;
        /* Set a maximum width for the logo image */
    }

    /* Styles for the main navigation menu */
    .nav-menu {
        display: grid;
        /* Create a grid layout for the menu with three columns */
        grid-template-columns: auto 1fr auto;
        align-items: center;
        /* Align items in the center vertically */
        background-color: #f9f9f9;
        padding: 10px 20px;
        /* Add padding to the menu */
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 999;
    }

    /* Styles for navigation actions */
    .nav-actions {
        display: grid;
        /* Create a grid layout for navigation actions with four columns */
        grid-template-columns: repeat(4, 1fr);
        gap: 1.5rem;
        justify-items: center;
        /* Center items horizontally */
    }

    /* Styles for language dropdown, member button, and shopping cart */

    .nav-member-button,
    .nav-shopping-cart,
    .menu-icon,
    .language-icon {
        position: relative;
        z-index: 1000;
        /* Set the z-index for the buttons */
    }

    /* Font Size for the member button, shopping cart, language label and hamburger icon*/
    .nav-member-button,
    .nav-shopping-cart {
        font-size: 1.4rem;
    }

    .language-label,
    .hamburger {
        font-size: 1.5rem;
    }

    /* Positioning for the hamburger icon */
    .hamburger {
        display: grid;
        grid-area: 1/4;
        /* Position the hamburger icon to the last space within the grid layout */
    }

    /* Styling for the Hamburger and language icon */
    .hamburger .menu-icon .fa-xmark,
    .language-label .language-icon .fa-xmark,
    .toggle-nav,
    .toggle-language {
        display: none;
        /* Hide the X icon and checkbox by default */
    }

    .toggle-nav:checked+.hamburger .menu-icon .fa-xmark,
    .toggle-language:checked+.language-label .language-icon .fa-xmark {
        display: inline-block;
        /* Display the X icon when the checkbox is checked */
    }

    .toggle-nav:checked+.hamburger .menu-icon .fa-bars,
    .toggle-language:checked+.language-label .language-icon .fa-earth-asia {
        display: none;
        /* Hide the hamburger and Globe icon when the checkbox is checked */
    }

    /* Styles for the active navigation menu */
    .nav-menu.active {
        flex-direction: row-reverse;
        align-items: flex-start;
        /* Change the direction and alignment of the menu items when active */
    }

    /* Styles for the navigation list and dropdown container */
    .nav-list,
    .dropdown-container {
        display: none;
        /* Hide the navigation list and dropdown container by default */
        position: fixed;
        /* Positions the elements relative to the viewport */
        top: 0;
        /* Aligns the elements to the top of the viewport */
        right: 0;
        /* Aligns the elements to the right edge of the viewport */
        width: 60%;
        /* Taking half of the screen width */
        overflow: hidden;
        /* This hides any content that overflows the defined width, so it won't be visible outside the specified area. */
        background-color: rgba(255, 255, 255, 0.9);
        border: 1px solid #ccc;
        overflow-y: auto;
        /* Enables vertical scrolling when content exceeds the height */
        text-align: center;
        /* Centers the text content horizontally */
    }

    .toggle-nav:checked~.nav-list {
        height: 100vh;
        display: grid;
        /* Toggles the navigation list visibility when the checkbox is checked */
        grid-area: 17 / 1;
    }

    .toggle-language:checked~.dropdown-container {
        height: 50vh;
        /* Adjusts the dropdown container height when the language checkbox is checked */
        display: grid;
        grid-area: 6 / 1;
        align-content: center;
    }

    /* Styles for navigation links */
    .nav-item a {
        color: var(--accent-light);
        font-weight: bold;
        /* Applies bold font style */
        font-size: 1.8rem;
        /* Sets font size to 1.8rem */
        text-transform: uppercase;
        /* Converts text to uppercase */
    }

    .first-nav-item,
    .last-nav-item {
        height: 90px;
        /* Adjusts the height of specific navigation items */
    }

    /* Styles for the second navigation item */
    .second-nav-item {
        grid-row: 2 / span 1;
        /* Spans 1 row starting from row 2 */
    }

    /* Styles for the social navigation container */
    .nav-item-social-container {
        display: grid;
        grid-template-rows: repeat(2, 1fr);
        /* Defines a grid with 2 rows of equal size */
        grid-template-columns: repeat(3, 1fr);
        /* Defines a grid with 3 columns of equal size */
        grid-row: 15 / span 2;
        /* Start at row 1 and span 2 rows */
        padding: 0 0 2.5rem 0;
        /* Adds padding to the container */
    }

    .fa-brands {
        font-size: 3rem;
    }

    /* Styles for language items */
    .language-item {
        color: var(--accent-light);
        font-weight: bold;
        /* Applies bold font style */
        font-size: 1.8rem;
        /* Sets font size to 1.8rem */
        text-transform: uppercase;
        padding: 1rem 0;
        /* Adds padding to the items */
    }

    /* Styles for navigation actions */
    .nav-actions {
        align-self: flex-end;
        /* Aligns the container to the flex-end of its parent */
        margin: 0 0 0.7rem 0;
        /* Sets margins */
    }

    /* Styles for the page banner */
    .page-banner {
        width: 100vw;
        /* Set the width and height of the page banner */
    }

    /* Styles for banner items */
    .banner-item {
        height: 40vh;
    }

    /* Styles for the banner carousel inner container */
    .banner-carousel-inner {
        position: relative;
        /* Defines a relative positioning context */
    }

    /* Styles for the carousel overlay */
    .carousel-overlay {
        position: absolute;
        /* Uses absolute positioning within a relative container */
        top: 85%;
        /* Sets top position to 85% from the top of the parent */
        left: 50%;
        /* Sets left position to 50% from the left of the parent */
        transform: translate(-50%, -50%);
        /* Centers the element horizontally and vertically */
    }

    /* Styles for carousel overlay buttons */
    .carousel-overlay button {
        z-index: 1;
        /* Sets the stacking order of the element */
    }

    /* Styles for banner buttons */
    .banner-button {
        border: 2px solid var(--prime-color);
        background-color: rgba(255, 255, 255, 0.8);
        /* Sets a semi-transparent background color */
        width: auto;
        /* Automatically adjusts the width */

    }

    /* Styles for banner button links */
    .banner-button a {
        font-size: 2rem;
        font-weight: bold;
        text-decoration: none;
        /* Removes text decoration (underline) */
        white-space: nowrap;
        /* Prevent the link from wrapping to two lines */

    }

    /* Footer Mobile Style  */

    .social-container {
        display: none;
    }

    /* Collapsible styles */
    .links {
        padding: 2.5rem 0;
    }

    .link-container {
        border-bottom: 1px solid #ccc;
    }

    .collapsible {
        font: bold 1.5rem/1.5 Noto;
        color: var(--text-on-white);
        cursor: pointer;
        user-select: none;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem 2.5rem;

    }

    .arrow {
        transition: transform 0.3s ease;
        /* Smooth transition for the arrow */
    }

    /* Rotate the arrow icon when active */
    .collapsible.active .arrow {
        transform: rotateX(180deg);
    }

    .link-container ul {
        max-height: 0;
        /* Initially hidden */
        overflow: hidden;
        transition: max-height 0.3s ease;
        /* Smooth animation */
    }

    /* Styles for the hidden checkbox and label */
    .toggle {
        display: none;
    }

    /* Show the list when the checkbox is checked */
    .toggle:checked+.link-list-shop,
    .toggle:checked+.link-list-diy,
    .toggle:checked+.link-list-about,
    .toggle:checked+.link-list-info {
        max-height: 500px;
        /* Adjust this value based on your content height */
    }

    .link-list-about,
    .link-list-diy,
    .link-list-info,
    .link-list-shop {
        padding: 0 2.5rem;
        font: bold 1.5rem/1.5 Noto;
    }

    .payment {
        width: 100vw;
        display: flex;
        padding: 2.5rem 0;
        justify-content: center;
    }

    .payment-list {
        width: 80vw;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .payment-icons {
        padding: 1rem;
    }

    .payment-img {
        width: 5rem;
    }

    .copyright {
        text-align: center;
        font: bold 1rem/1.5 Noto;
        color: var(--text-on-white);
    }

    .login-container {
        display: flex;
        flex-direction: column;
        width: 90vw;
        margin: auto;
        font: 1.5rem/1.5 Noto;
        padding: 0 0 6rem 0;

    }

    .login-container h2 {
        font: bold 2.5rem/1.5 Noto;
        padding: 3rem 0;
        text-align: center;
    }

    .form-group {
        font: bold 1.5rem/1.5 Noto;
        padding: 1rem 0;
        display: flex;
        flex-direction: column;
    }

    .login-input {
        width: 100%;
        font: bold 1.5rem/1.5 Noto;
        border: 2px solid var(--prime-color);
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
        padding: 0.5rem;

        /* Remove the border when input is focused */
        &:focus {
            outline: none;
            /* Remove the default focus outline */
            border: 2px solid white;
            /* Set border color */
        }


    }

    .btn-signin,
    .create-account {
        width: 380px;
        align-self: center;
        color: white;
        font: bold 1.5rem/1.5 Noto;
        padding: 0.5rem;
        text-align: center;

        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
        border-radius: 0 0 3% 3%;
    }

    .btn-signin {
        background-color: var(--prime-color);
        border: 2px solid var(--prime-color);
    }
}